<% content_for :title, "Editing map point" %>

<h1>Editing map point</h1>

<%= render "form", map_point: @map_point %>

<br>

<div>
  <%= link_to "Show this map point", @map_point %> |
  <%= link_to "Back to map points", map_points_path %>
</div>
