<% content_for :title, "New map point" %>

<h1>New map point</h1>
<br/>
<%= render "form", map_point: @map_point %>

<br/>

<%= link_to 'Back to Map Points', map_points_path, class:"btn btn-outline-dark" %>
