<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% content_for :head do %>
        <%= stylesheet_link_tag 'log' %>
    <% end %>
</head>
<body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
    <div data-controller="log" class="container">
        <div class="wrapper fixed-wrapper">
        </br></br></br>
            <section id="terminal">
                <div id="terminal-container">
                    <div class="terminal">
                        <div class="window-title">
                            <div class="win-buttons">
                                <a id="close" class="button" href="#"></a>
                                <a id="min" class="button" href="#"></a>
                                <a id="max" class="button" href="#"></a>
                            </div>
                            <span class="title">.zsh</span>
                        </div>
                        <div class="message">
                            <span class='prompt'><span class='user'>{{ common.alias }}</span><span class="at">@</span><span
                                    class="path">/home/{{ common.first_name|lower }}{{ common.last_name|lower }}/</span>><span
                                    class="caret">$</span></span>
                            <span class="typed"></span>
                            <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
    <script>
    var typed = new Typed('#typed', {
        stringsElement: '#typed-strings'
    });
    </script>
</body>
</html>




