<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% content_for :head do %>
        <%= stylesheet_link_tag 'log' %>
    <% end %>
</head>
<body>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>
    <div data-controller="log" class="container">
        <div class="wrapper fixed-wrapper">
        </br></br></br>
            <section id="terminal">
                <div id="terminal-container" data-log-target="terminal">
                    <div class="terminal">
                        <div class="window-title draggable-handle">
                            <div class="win-buttons">
                                <a id="close" class="button" href="#"></a>
                                <a id="min" class="button" href="#"></a>
                                <a id="max" class="button" href="#"></a>
                            </div>
                            <span class="title">.zsh</span>
                        </div>
                        <div class="message">
                            <span class='prompt'><span class='user'>rails</span><span class="at">@</span><span
                                    class="path">hubato</span>><span
                                    class="caret">$</span></span>
                            <span class="typed"></span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>




