<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% content_for :head do %>
        <%= stylesheet_link_tag 'log' %>
    <% end %>
</head>
<body>
    <div data-controller="log" class="container">
        <div class="wrapper fixed-wrapper">
        </br></br></br>
            <section id="terminal">
                <div id="terminal-container">
                    <div class="terminal">
                        <div class="window-title">
                            <div class="win-buttons">
                                <a id="close" class="button" href="#"></a>
                                <a id="min" class="button" href="#"></a>
                                <a id="max" class="button" href="#"></a>
                            </div>
                            <span class="title">.zsh</span>
                        </div>
                        <div class="message">
                            <span class='prompt'><span class='sub'>Sub</span><span class="macro"> profile()</span>
                            <span class="typed"></span>
                            <form><span class="sub">End Sub</span>&nbsp;<input type="text" name="response"/></form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>
</html>




