  #canvas-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0; /* Canvas background */
  }
  
  .text-title {
    margin:0px;
  }
  
  .text-content {
    margin:20px 0px 20px 0px;
  }
  
  #terminal #terminal-container .overlay {
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.3;
  }

  #terminal .terminal {
    position: absolute;
    background: #fefad9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    background-image: repeating-linear-gradient(
      to bottom,
      rgba(0,0,0,0.05) 0,
      rgba(0,0,0,0.05) 4px,
      transparent 30px
    );
    margin: auto;
    justify-content: center;
  }

  .draggable-handle {
    cursor: grab;
  }
  .draggable-handle:active {
    cursor: grabbing;
  }
  #terminal .terminal .window-title {
    background: #1d2a35;
    width: calc(100% - 0px);
    height: 7%;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1px 9px;
  }
  #terminal .terminal .window-title .win-buttons {
    position: relative;
    width: 15%;
    left: -11px;
    float: left;
    margin: 0;
  }
  #terminal .terminal .window-title .button {
    display: inline-block;
    text-align: center;
    width: 10px;
    height: 10px;
    border: 0.5px solid;
    border-radius: 100px;
    vertical-align: middle;
    margin: 3px 2px 3px 0;
  }
  #terminal .terminal .window-title #close {
    background: #e25544;
    border-color: #d84b3a;
  }
  #terminal .terminal .window-title #min {
    background: #f5b640;
    border-color: #e0a12b;
  }
  #terminal .terminal .window-title #max {
    background: #7cb058;
    border-color: #6fa44b;
  }
  #terminal .terminal .title {
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    letter-spacing: 0.06em;
    text-align: center;
    vertical-align: middle;
    top: 0.5px;
    left: -43px;
  }
  #terminal .terminal .prompt {
    font-size: 98%;
  }
  #terminal .terminal .user {
    color: #cd5c5c;
    letter-spacing: 0.002em;
    padding-right: 3px;
  }
  #terminal .terminal .at {
    color: #2f1b0c;
    padding-right: 2px;
  }
  #terminal .terminal .path {
    color: #03224c;
    letter-spacing: 0.002em;
    padding-right: 2px;
  }
  #terminal .terminal .caret {
    color: #cd5c5c;
  }
  #terminal .message {
    position: relative;
    color: #03224c;
    font-family: "Source Code Pro", monospace;
    width: 95%;
    margin: auto;
    padding: 0.13vh 0 0;
    z-index: 999;
  }
  #terminal .message span {
    font-size: 90%;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.045em;
    margin-bottom: 1em;
  }
  #terminal .message span a {
    font-family: "Source Code Pro", monospace;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.75);
  }
  #terminal .message form input {
    color: rgba(255, 255, 255, 0.75);
    background: transparent;
    border: none;
    outline: none;
    caret-color: #50cd70;
    font-size: 100%;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.045em;
    margin-bottom: 1em;
    margin-left: 7px;
  }
  #terminal .message .typed {
    line-height: 2.08em;
  }
  #terminal .message .typed-cursor {
    color: #ffffff;
    position: absolute;
    margin-left: 5px;
  }
  #terminal a {
    color: #ffffff;
    text-decoration: none;
  }
  #terminal a:hover {
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.9);
  }